<% if(page.comment_id && theme.gitalk.clientID && theme.gitalk.clientSecret && theme.gitalk.repo){ %>
<article id="comments">
  <div id="gitalk-container"></div>
  <link rel="stylesheet" href="<%- url_for('/css/gitalk-user.css') %>" />
  <script type="text/javascript">
    Fluid.utils.loadComments('#gitalk-container', function() {
      Fluid.utils.createCssLink('<%= url_join(theme.static_prefix.internal_css, 'gitalk.css') %>')
      Fluid.utils.createScript('<%= url_join(theme.static_prefix.gitalk, 'gitalk.min.js') %>', () => {
        var options = Object.assign(
          <%- JSON.stringify(theme.gitalk || {}) %>,
          {
            id: 'Comment: <%= page.comment_id %>',
            body: location.protocol + '//' + location.host + location.pathname
          }
        )
        var gitalk = new Gitalk(options);
        gitalk.render('gitalk-container');
      });
    });
  </script>
  <noscript>Please enable JavaScript to view the comments</noscript>
</article>
<% } %>
